/target*
/data
/index
/logs
/wal
/tests/integration/tmp
/tests/integration/tmp/*
/src/tests/integration/tmp/*
/tools/aritje/data
/tools/aritje/backend/node_modules
/tools/aritje/frontend/node_modules
/.cursor/*
/docs/book
.DS_Store
flamegraph*
/scripts/*
tmp*